
<div class="container index-page">
<div class="row">
  <div class="col-12">

  	<div class="card border-warning bg-transparent mb-3 mt-3" style="max-width: 100%;">

  	  <div class="card-body text-primary">
  	  	<h3 class="card-title text-center">TimeLaps Index</h3>
  	  	<div class="card-body">
			<%= render 'feed' %>
		</div>
	  </div>

	</div>

  </div>
</div>
</div>