<%= render 'shared/page_title', title: "Virtual Race Heroes" %>

<div class="container home-page">

<h2>Welcome to Virtual Race Heroes</h2>
<p>Create a new LapTime:</p>
<%= link_to 'Add LapTime', new_lap_path %>
<p>See all LapTimes:</p>
<%= link_to 'LapTime List', laps_path %>
<p>Or Log Out:</p>
<p></p>
<%= link_to 'Log Out', destroy_user_session_path, method: :delete %>

</div>